
.mySwiper {
  width: 220px;
  height: 300px;
}

.mySwiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #00468D;
}
