.swiper {
    z-index: 0;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    bottom: 0;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet:hover {
    background: #4d86cc 6f;
}
.swiper-pagination-bullet-active {
    color: #fff;
    width: 25px;
    height: 15px;
    border-radius: 10px;
    background: var(--clr-btn-border);
}
.swiper-pagination-bullet-active:hover {
    background: var(--clr-link);
}
.swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    min-height: 150px;
}
