  .light{
    --clr-primary: #FFFFFF;
    --clr-secondary: #0652A0;
    --clr-link: #0C40B0;
    --clr-body: #3A4F66;
    --clr-sidebar: #96BCE2;
    --clr-tertiary: #003060;
    --clr-text-custom: #3a4f66; 
    --clr-border: #0652A0;
    --clr-border-card: #e5e7eb;
    --clr-gradient: transparent;
}
  .dark{
    --clr-primary: #001E3C;
    --clr-secondary: #F3F3F3;
    --clr-link: #0A4FE5;
    --clr-body: #F3F3F3;
    --clr-sidebar: #003060;
    --clr-tertiary: #042b52;
    --clr-text-custom: #b2bac2;
    --clr-border: #0c40b0;
    --clr-border-card:  #1e4976;
    --clr-gradient: linear-gradient(to right bottom, #007fff, #0059b2 120%);
}

